#intro {
  padding: 4em 0 3em 0;
  color: black; 

h1{margin-left: 16em;
    font-size: 2em;
    color: rgba(70, 130, 180, 0.87);
    font-weight: 600;}

span {
  color: black;
  font-size: 14px;
  font-weight: 100; }

p {
  padding: 1em 0; }
}
