#show-case{
	.container-fluid {

		.row{
			margin-right: 1px;
			margin-left: -30px;

		.img{
			vertical-align: middle;
			text-align: justify;
			display: block;
			width: 295px;
			height: 201px;
		}
		}
	}
}
