#space {
  background: url("../images/london-bridge.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; 

.navbar-brand {
  font-family: 'Pacifico', cursive; }

.navbar-inverse {
  background-color: transparent;
  border-color: transparent; 

.navbar-brand {
  color: #ffc056;
  font-size: 2rem; }

.navbar-nav > li > a {
  color: white; }

.navbar-nav > .active > a {
  color: #fff;
  background-color: transparent; }

.navbar-nav > .active > a:hover {
  color: #fff;
  background-color: transparent; }
}

#myCarousel {
  text-align: center; }

.carousel {
  top: 50%; }

.carousel-indicators {
  top: 257%; }

.carousel-inner h1 {margin-left: 1em;
  font-size: 55px;
  font-weight: 900;
  color: #fff; }
}